

.main{
    padding-left: 4%;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1%;
    row-gap: 0.5%;
}


img{
    height: 100%;
    max-width: 40%;
    border-radius: 10px 0 0 10px;
}

a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 26vh;
    max-width: 100%;
}

 a div{
    max-width: 60%;
    font-size: auto;

}

 a div h1{
    text-align: center;
    text-justify: distribute;
    max-height: 100%;
    display: block;
}

/*Home*/

.homeContent{
    border: rgb(121, 181, 205) 5px solid;
    border-radius: 15px;
    background-color: rgba(121, 181, 205, 0.1);
    max-width: 30vw;
}

.homeContent:hover{
    background-color: rgb(121, 181, 205);

    transition: 0.3ms;
}

.homeContent a{

    color: rgb(121, 143, 146);
}

.homeContent a:hover{
    color: rgb(244, 250, 250);
}



/*Roupas*/


.clothContent{
    border: yellow 5px solid;
    border-radius: 15px;
    background-color: rgba(255, 255, 0, 0.3);
    max-width: 30vw;
}

.clothContent:hover{
    background-color: yellow;

    transition: 0.3ms;
}

.clothContent a{

    color: rgb(121, 143, 146);
}

.clothContent a:hover{
    color: rgb(228, 228, 228);
}

/* Smartphones */


.smartContent{
    border: grey 5px solid;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.3);
    max-width: 30vw;
}

.smartContent:hover{
    background-color: grey;

    transition: 0.3ms;
}

.smartContent a{

    color: rgb(121, 143, 146);
}

.smartContent a:hover{
    color: rgb(228, 228, 228);
}

/* Eletronicos */

.eletroContent{
    border: green 5px solid;
    border-radius: 15px;
    background-color: rgba(0, 128, 0, 0.3);
    max-width: 30vw;
}

.eletroContent:hover{
    background-color: green;

    transition: 0.3ms;
}

.eletroContent a{

    color: rgb(121, 143, 146);
}

.eletroContent a:hover{
    color: rgb(228, 228, 228);
}

/*Acessorios */

.acesContent{
    border: red 5px solid;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.3);
    max-width: 30vw;
}

.acesContent:hover{
    background-color: red;

    transition: 0.3ms;
}

.acesContent a{

    color: rgb(121, 143, 146);
}

.acesContent a:hover{
    color: rgb(228, 228, 228);
}