body, html {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(225, 238, 240);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
